.stats-container {
    width: 80%;
    margin: 0px auto;
    margin-top: 0;
  }

  .toph1 {
    font-size: 50px;
    font-weight: bold;
    margin: 50px auto;
    text-align: center;
    color: var(--sombre);
    padding-top: 80px;
  }

  .staat{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    margin: 50px auto;
    padding-top: 40px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.751);
    text-align: center;
    width: 80%;
    margin: 0 auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  .card:hover {
    transform: scale(1.05);
  }
  
  .total-projects {
    grid-column: span 2;
    text-align: center;
  }
  
  .total-projects h2{
    font-size: 25px;
  }

  .total-projects p{
    font-size: 40px;
    font-weight: bold;
    color: var(--var-soft-blue);
  }

  .total-projects p:hover{
    transform: scale(1.2);
}
  

.keyword-cloud,
.technology-cloud {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
}

.keyword-cloud div,
.technology-cloud div {
  text-align: center;
}
  
  .full-percentage-projects ul {
    list-style-type: none;
    padding-left: 0;
    margin: 40px ;
    color: var(--sombre);
  }
  
  .full-percentage-projects h2,.top-keywords h2,
  .technology-cloud {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  .projects-by-year {
    text-align: center;
    padding: 20px;
  }
  
  .copyri{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: var(--white);
  }

  /* media queries */

  @media screen and (max-width: 1024px) {
    .keyword-cloud{
      display: grid;
      grid-template-columns: repeat(1, 1fr); 
    }
  }

  @media screen and (max-width: 768px) {
    .staat{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .card {
      width: 100%;
    }

 
    .keyword-cloud,
    .technology-cloud
    {
      display: grid;
      grid-template-columns: repeat(1, 1fr); 

    }


  }

  @media screen and (max-width: 500px) {
    
  
    .staat{
      padding-top: 0px;
    }

    .projects-by-year{
      margin-left: -55px;
   }

 
    .keyword-cloud,
    .technology-cloud {
      display: grid;
      grid-template-columns: repeat(1, 1fr); 

    }
  }