.moi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 87.5px); /* Pour centrer verticalement */
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
}

.nom {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
 

.titre {
    font-size: 3.2em;
    margin-bottom: 30px;
   
}

.descriptio {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    width: 80%;
}



.social {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    font-size: 35px;
    margin-top: 105px;
    width: 300px;
}

.social a {
    color: var(--white);
}

.social a:hover {
    color: var(--sombre);
    transform: scale(1.1);
}


/*media queries*/

@media (max-width: 850px) {
    .moi {
        width: 80%;
        padding-top: 0;
        margin-top: -100px;
        margin-bottom: 0;
    }
    .nom {
        font-size: 1.7em;
        margin-bottom: 20px;
    }
    .titre {
        font-size: 2.4em;
    }
    .descriptio {
        margin-top: 10px;
        font-size: 1.2em;
        margin-bottom: 100px;
    }
    
    .moi{
        gap: 30px;
    }
}


@media (max-width: 768px) {
    .moi {
        width: 80%;
        padding-top: 0;
        margin-top: -20px;
        margin-bottom: 0;
    }
    .nom {
        font-size: 1.5em;
        margin-bottom: 25px;
    }
    .titre {
        font-size: 2.3em;
    }
    .descriptio {
        margin-top: 10px;
        font-size: 1em;
    }

}