.app {
  width: 100%;
  height: 100vh;  /* Fixez le conteneur à la fenêtre pour qu'il ne défile pas avec la page */
  overflow-y: auto; 
  overflow-x: unset;
}

.circle {
  position: fixed;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: radial-gradient(#012f47, #000000);
  transform: translate(-50%, -50%);
  pointer-events: none; /* Évite que l'élément ne bloque les événements de souris sur les éléments sous-jacents */
  mix-blend-mode: lighten; /* Mélange pour créer l'effet d'éclaircissement */
  z-index: 1; /* Assurez-vous que le cercle est au-dessus de tous les autres éléments */
}


.lock-scroll {
  overflow: hidden;
}